html,
body {
  font-family: 'Open Sans', 'Helvetica Neue', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', sans-serif;
  font-size: 14px;
  color: #505050;
  line-height: 1.75em;
  background: #ebebeb;
  position: relative;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Roboto Slab', 'Helvetica Neue', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', sans-serif;
  font-weight: 400;
  color: #303030;
}
h1 {
  font-size: 3em;
}
h2 {
  font-size: 2.5em;
}
h3 {
  font-size: 2em;
}
h4 {
  font-size: 1.5em;
}
h5 {
  font-size: 1em;
}
h6 {
  font-size: 0.75em;
}
.post-content h1, .post-content h2, .post-content h3, .post-content h4, .post-content h5, .post-content h6{
  padding: 6px 0;
  border-bottom: 1px dotted #ccc;
}
a {
  color: #00ada7;
  outline: none;
}
a:hover {
  color: #00ada7;
}
a:active,
a:focus,
a img {
  outline: none;
}
.btn {
  padding: 7px 14px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.btn-default {
  border: 1px solid #00ada7;
  background: #00ada7;
  color: #ffffff;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.btn-default:hover {
  border: 1px solid #303030;
  background: #303030;
  color: #ffffff;
}
.btn-default:focus {
  outline: none;
}
.btn-default[disabled] {
  border: 1px solid #303030;
  background: #303030;
  color: #ffffff;
}
input[type="search"],
input[type="text"],
input[type="url"],
input[type="email"],
textarea {
  padding: 7px 7px;
  border: 1px solid #ebebeb;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
input[type="search"]:focus,
input[type="text"]:focus,
input[type="url"]:focus,
input[type="email"]:focus,
textarea:focus {
  border: 1px solid #00ada7;
  outline: none;
}
blockquote {
  border-left: 4px solid #00ada7;
  font-family: 'Roboto Slab', 'Helvetica Neue', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', sans-serif;
  font-style: italic;
  background: #F3F7FA;
}
pre {
  padding: 0;
  background: none;
  border: none;
}
::-moz-selection {
  color: #ffffff;
  background: #00ada7;
  text-shadow: none;
}
::selection {
  color: #ffffff;
  background: #00ada7;
  text-shadow: none;
}
/*====================================================
	header
====================================================*/
.main-header {
  text-align: center;
  padding: 42px 0;
  background: #00ada7;
}
.main-header .branding {
  font-size: 3.5em;
  font-family: 'Roboto Slab', 'Helvetica Neue', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', sans-serif;
  color: #303030;
}
.main-header .branding:hover {
  text-decoration: none;
}
.main-header .branding img {
  max-width: 100%;
}
.navbar-header {
  text-align: center;
}
.navbar-header i {
  height: 56px;
  line-height: 56px;
  font-size: 2em;
  cursor: pointer;
}
.main-navigation {
  text-align: center;
  background: #ffffff;
  border-top: 1px solid #ebebeb;
  margin-bottom: 35px;
}
.main-navigation .menu {
  padding: 0;
  margin: 0;
}
.main-navigation .menu li {
  list-style: none;
  display: inline-block;
  position: relative;
}
.main-navigation .menu li a {
  color: #505050;
  line-height: 4em;
  display: block;
  padding: 0 21px;
  font-family: 'Roboto Slab', 'Helvetica Neue', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', sans-serif;
}
.main-navigation .menu li:hover > a {
  color: #00ada7;
  text-decoration: none;
}
.main-navigation .menu li ul {
  visibility: hidden;
  background: #ffffff;
  text-align: left;
  padding: 7px 0px;
  margin: 0;
  position: absolute;
  left: 0;
  top: 120%;
  width: 200px;
  z-index: 999;
  -webkit-opacity: 0;
  -moz-opacity: 0;
  -ms-opacity: 0;
  -o-opacity: 0;
  opacity: 0;
  filter: alpha(opacity=(0));
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.main-navigation .menu li ul li {
  display: block;
  margin: 0;
}
.main-navigation .menu li ul li a {
  line-height: 2.5em;
  color: #505050;
}
.main-navigation .menu li ul:hover > a {
  color: #00ada7;
}
.main-navigation .menu li:hover ul {
  visibility: visible;
  -webkit-opacity: 1;
  -moz-opacity: 1;
  -ms-opacity: 1;
  -o-opacity: 1;
  opacity: 1;
  filter: alpha(opacity=(100));
  top: 100%;
}
/*====================================================
	main post area
====================================================*/
.post {
  padding: 35px;
  background: #ffffff;
  margin-bottom: 35px;
  position: relative;
  overflow: hidden;
}
.post .featured {
  position: absolute;
  background: #00ada7;
  color: #ffffff;
  text-align: center;
  top: -12px;
  right: -32px;
  width: 80px;
  height: 40px;
  line-height: 54px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
.post .featured i {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
.post .post-head {
  text-align: center;
}
.post .post-head .post-title {
  margin: 0;
  line-height: 1em;
}
.post .post-head .post-title a {
  color: #303030;
}
.post .post-head .post-title a:hover,
.post .post-head .post-title a:focus {
  text-decoration: none;
}
.post .post-head .post-meta {
  font-style: italic;
  color: #959595;
  margin: 14px 0 0px;
}
.post .post-head .post-meta span {
  margin: 0px 7px;
  white-space: nowrap;
}
.post .featured-media {
  margin-top: 30px;
  overflow: hidden;
}
.post .featured-media img {
  width: 100%;
}
.post .post-content {
  margin: 30px 0;
}
.post .post-content img {
  display: block;
  margin: 0 auto 14px;
  max-width: 100%;
}
.post .post-footer {
  margin-top: 30px;
  border-top: 1px solid #ebebeb;
  padding: 21px 0 0;
}
.post .post-footer .tag-list {
  color: #959595;
  font-style: italic;
  line-height: 28px;
}
.post .post-footer .tag-list a {
  color: #959595;
  margin-left: 7px;
}
.post .post-footer .tag-list a:hover {
  color: #00ada7;
}
.post .post-footer .share .share-icons {
  padding: 0;
  margin: 0;
}
.post .post-footer .share .share-icons li {
  list-style: none;
  display: inline-block;
}
.post .post-footer .share .share-icons li a {
  color: #959595;
  text-align: center;
}
.post .post-footer .share .share-icons li a i {
  width: 28px;
  height: 28px;
  line-height: 28px;
  border: 1px solid #ebebeb;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
  font-size: 12px;
}
.post .post-footer .share .share-icons li a:hover i {
  color: #ffffff;
  background: #00ada7;
  border: 1px solid #00ada7;
}
/*====================================================
	pagination
====================================================*/
.pagination {
  margin: 0 0 35px;
  text-align: center;
  display: block;
}
.pagination a {
  text-align: center;
  display: inline-block;
  color: #ffffff;
  background: #00ada7;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.pagination a i {
  width: 36px;
  height: 36px;
  line-height: 36px;
}
.pagination a:hover {
  background: #505050;
  text-decoration: none;
  color: #ffffff;
}
.pagination .page-number {
  background: #00ada7;
  color: #ffffff;
  margin: 0 3px;
  display: inline-block;
  line-height: 36px;
  padding: 0 14px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
/*====================================================
	about author and comment
====================================================*/
.about-author {
  background: #ffffff;
  padding: 35px;
  margin-bottom: 35px;
}
.about-author .avatar {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.about-author .details {
  margin-left: 114px;
}
.about-author .author {
  font-size: 1.5em;
  margin-bottom: 7px;
}
.about-author .author a:hover {
  text-decoration: none;
}
.about-author .meta-info {
  font-style: italic;
  color: #959595;
  margin-bottom: 7px;
}
.about-author .meta-info span {
  margin-right: 14px;
  white-space: nowrap;
}
.about-author .meta-info span i {
  margin-right: 7px;
}
.comment-wrap {
  background: #ffffff;
  padding: 35px;
  margin-bottom: 35px;
}
/*====================================================
	sidebar
====================================================*/
.sidebar .widget {
  background: #ffffff;
  padding: 21px 30px;
}
.main-footer .widget {
  padding: 0px 30px;
}
.widget {
  margin-bottom: 35px;
}
.widget .title {
  margin-top: 0;
  padding-bottom: 7px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 21px;
  position: relative;
}
.widget .title:after {
  content: "";
  width: 90px;
  height: 1px;
  background: #00ada7;
  position: absolute;
  left: 0;
  bottom: -1px;
}
.widget .social {
  padding: 0;
  margin: 0;
}
.widget .social li {
  display: inline-block;
  margin: 0 2px 5px 0;
  text-align: center;
}
.widget .social li a i {
  width: 35px;
  height: 35px;
  line-height: 35px;
  border: 1px solid #ebebeb;
  color: #959595;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.widget .social li a:hover i {
  color: #ffffff;
  background: #00ada7;
  border: 1px solid #00ada7;
}
.widget .tag-cloud hr {
  border: 0;
  border-bottom: 1px dashed #303030;
}
.widget .tag-cloud a {
  border: 1px solid #ebebeb;
  padding: 2px 7px;
  color: #959595;
  line-height: 1.5em;
  display: inline-block;
  margin: 0 7px 7px 0;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.widget .tag-cloud a:hover {
  color: #ffffff;
  background: #00ada7;
  border: 1px solid #00ada7;
  text-decoration: none;
}
.widget .recent-post .recent-single-post {
  border-bottom: 1px dashed #ebebeb;
  padding-bottom: 14px;
  margin-bottom: 14px;
}
.widget .recent-post .recent-single-post .post-title {
  color: #505050;
  font-family: 'Roboto Slab', 'Helvetica Neue', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', 'Microsoft Yahei', sans-serif;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
.widget .recent-post .recent-single-post .post-title:hover {
  color: #00ada7;
  text-decoration: none;
}
.widget .recent-post .recent-single-post .date {
  font-style: italic;
  color: #959595;
}
.widget .recent-post .recent-single-post:last-child {
  margin-bottom: 0;
}
.widget .newsletter .input-group {
  margin-bottom: 10px;
  display: block;
}
.widget .newsletter .input-group .email {
  width: 100%;
}
.widget .newsletter .input-group .btn {
  width: 100%;
}
.widget .ad {
  text-align: center;
}
.widget .ad img {
  max-width: 100%;
}
.widget .flkr-widget {
  list-style: none;
  padding-left: 0;
}
.widget .flkr-widget li {
  display: inline-block;
  margin: 0 5px 5px 0;
}
.widget .flkr-widget li a img {
  width: 70px;
  height: 70px;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -ms-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}
.widget .flkr-widget li a img:hover {
  -webkit-opacity: 0.8;
  -moz-opacity: 0.8;
  -ms-opacity: 0.8;
  -o-opacity: 0.8;
  opacity: 0.8;
  filter: alpha(opacity=(80));
}
/*====================================================
	Tag page & author page cover
====================================================*/
.cover {
  text-align: center;
  background: #ffffff;
  padding: 35px;
  margin-bottom: 35px;
}
.cover .tag-name {
  margin-top: 0;
}
.cover .post-count {
  margin-top: 7px;
  color: #959595;
  font-style: italic;
}
.cover .avatar {
  width: 100px;
  height: 100px;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  border-radius: 50%;
}
.cover .meta-info {
  color: #959595;
  font-style: italic;
}
.cover .meta-info span {
  margin: 0 7px;
}
.cover .meta-info span i {
  margin-right: 7px;
}
.cover .bio {
  margin-top: 7px;
}
/*====================================================
	footer
====================================================*/
.main-footer {
  background: #202020;
  padding: 35px 0 0;
  color: #959595;
}
.main-footer .widget .title {
  color: #ffffff;
  border-bottom: 1px solid #303030;
}
.main-footer .widget .tag-cloud a {
  border: 1px solid #303030;
}
.main-footer .widget .tag-cloud a:hover {
  border: 1px solid #00ada7;
}
.main-footer .widget .recent-post .recent-single-post {
  border-bottom: 1px dashed #303030;
}
.main-footer .widget .recent-post .recent-single-post .post-title {
  color: #959595;
}
.main-footer .widget .recent-post .recent-single-post .post-title:hover {
  color: #00ada7;
}
.main-footer .widget .recent-post .recent-single-post .date {
  color: #505050;
}
.copyright {
  background: #111111;
  text-align: center;
  color: #ffffff;
  padding-top: 28px;
  padding-bottom: 28px;
  border-top: 1px solid #303030;
}
#back-to-top {
  position: fixed;
  right: 10px;
  bottom: 20px;
  background: rgba(0, 173, 167, 0.6);
  color: #ffffff;
  text-align: center;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 4px;
  z-index: 1;
  display: none;
}
#back-to-top:hover {
  background: #00ada7;
}
#back-to-top i {
  width: 50px;
  height: 50px;
  line-height: 45px;
  font-size: 40px;
}

/*====================================================
  archives
====================================================*/
.archive{
  padding: 20px 30px;
  margin-bottom: 15px;
  background-color: #fff;
  border: 2px solid #fff;
  transition: all 1s;
  -wekit-transition: all 1s;
  -o-transition: all 1s;
  -moz-transition: all 1s;
}
.archive:hover{
  border-color: #3e9c98;
}
.archive h3{
  margin-top: 10px;
}
.archive .date{
  color: #959595;
}
.archive a{
  text-decoration: none;
}

/*====================================================
  catalog
====================================================*/
.catalog-fixed {
  position: fixed;
  top: 20px;
  width: 360px;
}

@media (max-width: 1199px) {
  .catalog-fixed {
    width: 293px;
  }
}

@media (max-width: 991px) {
  .catalog-fixed {
    display: none;
  }
}
/*====================================================
	media query
====================================================*/
@media (max-width: 767px) {
  .main-navigation .menu li {
    display: block;
  }
  .main-navigation .menu li:hover > a {
    color: #00ada7;
    text-decoration: none;
  }
  .main-navigation .menu li ul {
    visibility: visible;
    padding: 0px 0px 0px 20px;
    margin: 0;
    position: relative;
    top: 0;
    width: 100%;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    -ms-opacity: 1;
    -o-opacity: 1;
    opacity: 1;
    filter: alpha(opacity=(100));
  }
}
@media (min-width: 768px) {
  .nav-toggle-button {
    display: none;
  }
}



/**********************************************
***********************************************
***********************************************
**********
********** colorpick.css
**********
***********************************************
***********************************************
**********************************************/

/*
colpick Color Picker / colpick.com
*/

/*Main container*/
.colpick {
  position: absolute;
  width: 346px;
  height: 170px;
  overflow: hidden;
  display: none;
  font-family: Arial, Helvetica, sans-serif;
  background:#ebebeb;
  border: 1px solid #bbb;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;

  /*Prevents selecting text when dragging the selectors*/
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}
/*Color selection box with gradients*/
.colpick_color {
  position: absolute;
  left: 7px;
  top: 7px;
  width: 156px;
  height: 156px;
  overflow: hidden;
  outline: 1px solid #aaa;
  cursor: crosshair;
}
.colpick_color_overlay1 {
  position: absolute;
  left:0;
  top:0;
  width: 156px;
  height: 156px;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffffff', endColorstr='#00ffffff')"; /* IE8 */
  background: -moz-linear-gradient(left, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
  background: linear-gradient(to right, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%);
  filter:  progid:DXImageTransform.Microsoft.gradient(GradientType=1,startColorstr='#ffffff', endColorstr='#00ffffff'); /* IE6 & IE7 */
}
.colpick_color_overlay2 {
  position: absolute;
  left:0;
  top:0;
  width: 156px;
  height: 156px;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#00000000', endColorstr='#000000')"; /* IE8 */
  background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,1))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* IE10+ */
  background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
}
/*Circular color selector*/
.colpick_selector_outer {
  background:none;
  position: absolute;
  width: 11px;
  height: 11px;
  margin: -6px 0 0 -6px;
  border: 1px solid black;
  border-radius: 50%;
}
.colpick_selector_inner{
  position: absolute;
  width: 9px;
  height: 9px;
  border: 1px solid white;
  border-radius: 50%;
}
/*Vertical hue bar*/
.colpick_hue {
  position: absolute;
  top: 6px;
  left: 175px;
  width: 19px;
  height: 156px;
  border: 1px solid #aaa;
  cursor: n-resize;
}
/*Hue bar sliding indicator*/
.colpick_hue_arrs {
  position: absolute;
  left: -8px;
  width: 35px;
  height: 7px;
  margin: -7px 0 0 0;
}
.colpick_hue_larr {
  position:absolute;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-left: 7px solid #858585;
}
.colpick_hue_rarr {
  position:absolute;
  right:0;
  width: 0;
  height: 0;
  border-top: 6px solid transparent;
  border-bottom: 6px solid transparent;
  border-right: 7px solid #858585;
}
/*New color box*/
.colpick_new_color {
  position: absolute;
  left: 207px;
  top: 6px;
  width: 60px;
  height: 27px;
  background: #f00;
  border: 1px solid #8f8f8f;
}
/*Current color box*/
.colpick_current_color {
  position: absolute;
  left: 277px;
  top: 6px;
  width: 60px;
  height: 27px;
  background: #f00;
  border: 1px solid #8f8f8f;
}
/*Input field containers*/
.colpick_field, .colpick_hex_field  {
  position: absolute;
  height: 20px;
  width: 60px;
  overflow:hidden;
  background:#f3f3f3;
  color:#b8b8b8;
  font-size:12px;
  border:1px solid #bdbdbd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.colpick_rgb_r {
  top: 40px;
  left: 207px;
}
.colpick_rgb_g {
  top: 67px;
  left: 207px;
}
.colpick_rgb_b {
  top: 94px;
  left: 207px;
}
.colpick_hsb_h {
  top: 40px;
  left: 277px;
}
.colpick_hsb_s {
  top: 67px;
  left: 277px;
}
.colpick_hsb_b {
  top: 94px;
  left: 277px;
}
.colpick_hex_field {
  width: 68px;
  left: 207px;
  top: 121px;
}
/*Text field container on focus*/
.colpick_focus {
  border-color: #999;
}
/*Field label container*/
.colpick_field_letter {
  position: absolute;
  width: 12px;
  height: 20px;
  line-height: 20px;
  padding-left: 4px;
  background: #efefef;
  border-right: 1px solid #bdbdbd;
  font-weight: bold;
  color:#777;
}
/*Text inputs*/
.colpick_field input, .colpick_hex_field input {
  position: absolute;
  right: 11px;
  margin: 0;
  padding: 0;
  height: 20px;
  line-height: 20px;
  background: transparent;
  border: none;
  font-size: 12px;
  font-family: Arial, Helvetica, sans-serif;
  color: #555;
  text-align: right;
  outline: none;
}
.colpick_hex_field input {
  right: 4px;
}
/*Field up/down arrows*/
.colpick_field_arrs {
  position: absolute;
  top: 0;
  right: 0;
  width: 9px;
  height: 21px;
  cursor: n-resize;
}
.colpick_field_uarr {
  position: absolute;
  top: 5px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-bottom: 4px solid #959595;
}
.colpick_field_darr {
  position: absolute;
  bottom:5px;
  width: 0;
  height: 0;
  border-left: 4px solid transparent;
  border-right: 4px solid transparent;
  border-top: 4px solid #959595;
}
/*Submit/Select button*/
.colpick_submit {
  position: absolute;
  left: 207px;
  top: 149px;
  width: 130px;
  height: 22px;
  line-height:22px;
  background: #efefef;
  text-align: center;
  color: #555;
  font-size: 12px;
  font-weight:bold;
  border: 1px solid #bdbdbd;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.colpick_submit:hover {
  background:#f3f3f3;
  border-color:#999;
  cursor: pointer;
}

/*full layout with no submit button*/
.colpick_full_ns  .colpick_submit, .colpick_full_ns .colpick_current_color{
  display:none;
}
.colpick_full_ns .colpick_new_color {
  width: 130px;
  height: 25px;
}
.colpick_full_ns .colpick_rgb_r, .colpick_full_ns .colpick_hsb_h {
  top: 42px;
}
.colpick_full_ns .colpick_rgb_g, .colpick_full_ns .colpick_hsb_s {
  top: 73px;
}
.colpick_full_ns .colpick_rgb_b, .colpick_full_ns .colpick_hsb_b {
  top: 104px;
}
.colpick_full_ns .colpick_hex_field {
  top: 135px;
}

/*rgbhex layout*/
.colpick_rgbhex .colpick_hsb_h, .colpick_rgbhex .colpick_hsb_s, .colpick_rgbhex .colpick_hsb_b {
  display:none;
}
.colpick_rgbhex {
  width:282px;
}
.colpick_rgbhex .colpick_field, .colpick_rgbhex .colpick_submit {
  width:68px;
}
.colpick_rgbhex .colpick_new_color {
  width:34px;
  border-right:none;
}
.colpick_rgbhex .colpick_current_color {
  width:34px;
  left:240px;
  border-left:none;
}

/*rgbhex layout, no submit button*/
.colpick_rgbhex_ns  .colpick_submit, .colpick_rgbhex_ns .colpick_current_color{
  display:none;
}
.colpick_rgbhex_ns .colpick_new_color{
  width:68px;
  border: 1px solid #8f8f8f;
}
.colpick_rgbhex_ns .colpick_rgb_r {
  top: 42px;
}
.colpick_rgbhex_ns .colpick_rgb_g {
  top: 73px;
}
.colpick_rgbhex_ns .colpick_rgb_b {
  top: 104px;
}
.colpick_rgbhex_ns .colpick_hex_field {
  top: 135px;
}

/*hex layout*/
.colpick_hex .colpick_hsb_h, .colpick_hex .colpick_hsb_s, .colpick_hex .colpick_hsb_b, .colpick_hex .colpick_rgb_r, .colpick_hex .colpick_rgb_g, .colpick_hex .colpick_rgb_b {
  display:none;
}
.colpick_hex {
  width:206px;
  height:201px;
}
.colpick_hex .colpick_hex_field {
  width:72px;
  height:25px;
  top:168px;
  left:80px;
}
.colpick_hex .colpick_hex_field div, .colpick_hex .colpick_hex_field input {
  height: 25px;
  line-height: 25px;
}
.colpick_hex .colpick_new_color {
  left:9px;
  top:168px;
  width:30px;
  border-right:none;
}
.colpick_hex .colpick_current_color {
  left:39px;
  top:168px;
  width:30px;
  border-left:none;
}
.colpick_hex .colpick_submit {
  left:164px;
  top: 168px;
  width:30px;
  height:25px;
  line-height: 25px;
}

/*hex layout, no submit button*/
.colpick_hex_ns  .colpick_submit, .colpick_hex_ns .colpick_current_color {
  display:none;
}
.colpick_hex_ns .colpick_hex_field {
  width:80px;
}
.colpick_hex_ns .colpick_new_color{
  width:60px;
  border: 1px solid #8f8f8f;
}

/*Dark color scheme*/
.colpick_dark {
  background: #161616;
  border-color: #2a2a2a;
}
.colpick_dark .colpick_color {
  outline-color: #333;
}
.colpick_dark .colpick_hue {
  border-color: #555;
}
.colpick_dark .colpick_field, .colpick_dark .colpick_hex_field {
  background: #101010;
  border-color: #2d2d2d;
}
.colpick_dark .colpick_field_letter {
  background: #131313;
  border-color: #2d2d2d;
  color: #696969;
}
.colpick_dark .colpick_field input, .colpick_dark .colpick_hex_field input {
  color: #7a7a7a;
}
.colpick_dark .colpick_field_uarr {
  border-bottom-color:#696969;
}
.colpick_dark .colpick_field_darr {
  border-top-color:#696969;
}
.colpick_dark .colpick_focus {
  border-color:#444;
}
.colpick_dark .colpick_submit {
  background: #131313;
  border-color:#2d2d2d;
  color:#7a7a7a;
}
.colpick_dark .colpick_submit:hover {
  background-color:#101010;
  border-color:#444;
}
/*====================================================
  settings panel custom css
====================================================*/
#setting_panel {
  position: fixed;
  top: 100px;
  left: -226px;
  background: #2a2a2a;
  padding: 10px;
  z-index: 999;
  -webkit-transition: all .3s ease-in-out;
     -moz-transition: all .3s ease-in-out;
      -ms-transition: all .3s ease-in-out;
       -o-transition: all .3s ease-in-out;
          transition: all .3s ease-in-out;
}
#setting_panel.settings-show {
  left: 0;
}
#setting_panel_toggle {
  position: absolute;
  top: 0;
  left: 100%;
}
#setting_panel_toggle i {
  width: 42px;
  height: 42px;
  line-height: 42px;
  text-align: center;
  background: #2a2a2a;
  -webkit-border-radius: 0px 4px 4px 0;
  -moz-border-radius: 0px 4px 4px 0;
  border-radius: 0px 4px 4px 0;
  color: #e0e0e0;
}
#setting_panel_toggle i:hover {
  color: #fff;
}
.dp-button {
  background: #161616;
  text-align: center;
  border: 1px solid #2a2a2a;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  color: #d0d0d0;
  margin-top: 5px;
  cursor: pointer;
  font-size: 0.75em;
  text-transform: uppercase;
}
.dp-button:hover {
  color: #fff;
  text-decoration: none;
}
.dp-button.active {
  background: #000;
}
.dfc-bt {
  display: block;
}

.sb-bt {
  width: 101px;
  display: inline-block;
}


/**********************************************
***********************************************
***********************************************
**********
********** 语法高亮主题
**********
***********************************************
***********************************************
**********************************************/


/*

Monokai Sublime style. Derived from Monokai by noformnocontent http://nn.mit-license.org/

*/

.hljs {
  display: block;
  overflow-x: auto;
  padding: 0.5em;
  background: #23241f;
  -webkit-text-size-adjust: none;
}

.hljs,
.hljs-tag,
.css .hljs-rules,
.css .hljs-value,
.aspectj .hljs-function,
.css .hljs-function
.hljs-preprocessor,
.hljs-pragma {
  color: #f8f8f2;
}

.hljs-strongemphasis,
.hljs-strong,
.hljs-emphasis {
  color: #a8a8a2;
}

.hljs-bullet,
.hljs-blockquote,
.hljs-horizontal_rule,
.hljs-number,
.hljs-regexp,
.alias .hljs-keyword,
.hljs-literal,
.hljs-hexcolor {
  color: #ae81ff;
}

.hljs-tag .hljs-value,
.hljs-code,
.hljs-title,
.css .hljs-class,
.hljs-class .hljs-title:last-child {
  color: #a6e22e;
}

.hljs-link_url {
  font-size: 80%;
}

.hljs-strong,
.hljs-strongemphasis {
  font-weight: bold;
}

.hljs-emphasis,
.hljs-strongemphasis,
.hljs-class .hljs-title:last-child,
.hljs-typename {
  font-style: italic;
}

.hljs-keyword,
.ruby .hljs-class .hljs-keyword:first-child,
.ruby .hljs-function .hljs-keyword,
.hljs-function,
.hljs-change,
.hljs-winutils,
.hljs-flow,
.nginx .hljs-title,
.tex .hljs-special,
.hljs-header,
.hljs-attribute,
.hljs-symbol,
.hljs-symbol .hljs-string,
.hljs-tag .hljs-title,
.hljs-value,
.alias .hljs-keyword:first-child,
.css .hljs-tag,
.css .unit,
.css .hljs-important {
  color: #f92672;
}

.hljs-function .hljs-keyword,
.hljs-class .hljs-keyword:first-child,
.hljs-aspect .hljs-keyword:first-child,
.hljs-constant,
.hljs-typename,
.css .hljs-attribute {
  color: #66d9ef;
}

.hljs-variable,
.hljs-params,
.hljs-class .hljs-title,
.hljs-aspect .hljs-title {
  color: #f8f8f2;
}

.hljs-string,
.css .hljs-id,
.hljs-subst,
.hljs-type,
.ruby .hljs-class .hljs-parent,
.hljs-built_in,
.django .hljs-template_tag,
.django .hljs-variable,
.smalltalk .hljs-class,
.django .hljs-filter .hljs-argument,
.smalltalk .hljs-localvars,
.smalltalk .hljs-array,
.hljs-attr_selector,
.hljs-pseudo,
.hljs-addition,
.hljs-stream,
.hljs-envvar,
.apache .hljs-tag,
.apache .hljs-cbracket,
.tex .hljs-command,
.hljs-prompt,
.hljs-link_label,
.hljs-link_url {
  color: #e6db74;
}

.hljs-comment,
.hljs-javadoc,
.hljs-annotation,
.hljs-decorator,
.hljs-pi,
.hljs-doctype,
.hljs-deletion,
.hljs-shebang,
.apache .hljs-sqbracket,
.tex .hljs-formula {
  color: #75715e;
}

.coffeescript .javascript,
.javascript .xml,
.tex .hljs-formula,
.xml .javascript,
.xml .vbscript,
.xml .css,
.xml .hljs-cdata,
.xml .php,
.php .xml {
  opacity: 0.5;
}



/**********************************************
***********************************************
***********************************************
**********
********** googlefonts.css
**********
***********************************************
***********************************************
**********************************************/

/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/assets/fonts/googlefonts/K88pR3goAWT7BTt32Z01m1tXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/assets/fonts/googlefonts/RjgO7rYTmqiVp7vzi-Q5UVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/assets/fonts/googlefonts/ttwNtsRpgsxVmgGGmiUOEltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/assets/fonts/googlefonts/LWCjsQkB6EMdfHrEVqA1KVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/assets/fonts/googlefonts/xozscpT2726on7jbcb_pAltXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/assets/fonts/googlefonts/59ZRklaO5bWGqF5A9baEEVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/assets/fonts/googlefonts/u-WUoqrET9fUeobQW7jkRVtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(/assets/fonts/googlefonts/cJZKeOuBrn4kERxqtaUH3VtXRa8TVwTICgirnJhmVJw.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/assets/fonts/googlefonts/k3k702ZOKiLJc3WVjuplzCUUniRZcd_wq8DYmIfsw2A.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/assets/fonts/googlefonts/k3k702ZOKiLJc3WVjuplzOXREeHhJi4GEUJI9ob_ak4.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/assets/fonts/googlefonts/k3k702ZOKiLJc3WVjuplzI0Uz7fbu6RM5MPetubMKio.woff2) format('woff2');
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/assets/fonts/googlefonts/k3k702ZOKiLJc3WVjuplzPzy0yu4vcvNhe7QLuoE8rU.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/assets/fonts/googlefonts/k3k702ZOKiLJc3WVjuplzM9-ZSaZ3mOOsU9E1f6DGWc.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/assets/fonts/googlefonts/k3k702ZOKiLJc3WVjuplzIZI5FoslwusAsZHK_V0XCI.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/assets/fonts/googlefonts/k3k702ZOKiLJc3WVjuplzBUOjZSKWg4xBWp_C_qQx0o.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(/assets/fonts/googlefonts/k3k702ZOKiLJc3WVjuplzOgdm0LZdjqr5-oayXSOefg.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/assets/fonts/googlefonts/xjAJXh38I15wypJXxuGMBrWJ8El2VFcUWHOh_Oq6BA8.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/assets/fonts/googlefonts/xjAJXh38I15wypJXxuGMBhLwxQbNcFnuWuPk3YnjToI.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/assets/fonts/googlefonts/xjAJXh38I15wypJXxuGMBvDtiuuJNge4XCX2Yxjz0ug.woff2) format('woff2');
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/assets/fonts/googlefontsx/jAJXh38I15wypJXxuGMBnZwgMdXZ_smNJnor9b37uA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/assets/fonts/googlefonts/xjAJXh38I15wypJXxuGMBlvp_UfalQ96C-39B62FvR4.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/assets/fonts/googlefonts/xjAJXh38I15wypJXxuGMBkqs5AeeBmydKTXp2rSeyjU.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/assets/fonts/googlefonts/xjAJXh38I15wypJXxuGMBqg5eI2G47JWe0-AuFtD150.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 400;
  src: local('Open Sans Italic'), local('OpenSans-Italic'), url(/assets/fonts/googlefonts/xjAJXh38I15wypJXxuGMBo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(/assets/fonts/googlefonts/PRmiXeptR36kaC0GEAetxrLZkzWHE0Rai0z0KZwCYHE.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(/assets/fonts/googlefonts/PRmiXeptR36kaC0GEAetxqs1twL42OQU-XDphSlMXYM.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* devanagari */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(/assets/fonts/googlefonts/PRmiXeptR36kaC0GEAetxh5CnfegDxvzrJzsS30I9Mo.woff2) format('woff2');
  unicode-range: U+02BC, U+0900-097F, U+1CD0-1CF6, U+1CF8-1CF9, U+200B-200D, U+20A8, U+20B9, U+25CC, U+A830-A839, U+A8E0-A8FB;
}
/* greek-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(/assets/fonts/googlefonts/PRmiXeptR36kaC0GEAetxuGaZ6kaGPxTsxBG85inVYY.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(/assets/fonts/googlefonts/PRmiXeptR36kaC0GEAetxpGgvICTqEy5bPQVoK8tr-Y.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(/assets/fonts/googlefonts/PRmiXeptR36kaC0GEAetxk_OFHk8r5jZbncjCRw3fvE.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(/assets/fonts/googlefonts/PRmiXeptR36kaC0GEAetxqsA81DAeuqoeYxDcSOJPMY.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 700;
  src: local('Open Sans Bold Italic'), local('OpenSans-BoldItalic'), url(/assets/fonts/googlefonts/PRmiXeptR36kaC0GEAetxolIZu-HDpmDIZMigmsroc4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(/assets/fonts/googlefonts/y7lebkjgREBJK96VQi37ZjTOQ_MqJVwkKsUn0wKzc2I.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}
/* cyrillic */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(/assets/fonts/googlefonts/y7lebkjgREBJK96VQi37ZjUj_cnvWIuuBMVgbX098Mw.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(/assets/fonts/googlefonts/y7lebkjgREBJK96VQi37ZkbcKLIaa1LC45dFaAfauRA.woff2) format('woff2');
  unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(/assets/fonts/googlefonts/y7lebkjgREBJK96VQi37Zmo_sUJ8uO4YLWRInS22T3Y.woff2) format('woff2');
  unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(/assets/fonts/googlefonts/y7lebkjgREBJK96VQi37Zr6up8jxqWt8HVA3mDhkV_0.woff2) format('woff2');
  unicode-range: U+0102-0103, U+1EA0-1EF1, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(/assets/fonts/googlefonts/y7lebkjgREBJK96VQi37ZiYE0-AqJ3nfInTTiDXDjU4.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(/assets/fonts/googlefonts/y7lebkjgREBJK96VQi37Zo4P5ICox8Kq3LLUNMylGO4.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
