{{!< default}}

<article class="post">
        <div class="post-head">
            <h2 class="post-title">The Reasons of Bloging</h2>
        </div>
        <div class="featured-media">
            <a href="/about/"><img src="/content/images/2015/04/image-5.jpg" alt="About"></a>
        </div>
        <div class="post-content">
        		<blockquote>
						  <p>"Fill your paper with the breathings of your heart." —William Wordsworth</p>
						</blockquote>
				</div>
    </article>
