{{!< default}}

<article class="post">
    <div class="post-head">
        <h2 class="post-title">The Reasons of Bloging</h2>
    </div>
    <div class="featured-media">
        <a href="/about/"><img src="/content/images/2015/04/image-5.jpg" alt="About"></a>
    </div>
    <div class="post-content">
		<blockquote>
			<p>"Fill your paper with the breathings of your heart." —William Wordsworth</p>
		</blockquote>
        <p>
            There are many articles written about why you should blog to grow your business or become an expert or make a whole bunch of money—the best recommendations are still found in the personal realization that blogging changes you, the writer. Here are 10 thoughts on how blogging impacts life.
        </p>
        <ol>
            <li><strong>You’ll become a better writer.</strong> At its core, writing is communication. It is about recording thoughts on paper and compelling others to agree with them. To that end, writing (just like every other form of communication that has ever existed) improves with practice. Blogging will not force you to become a better writer, it’ll just happen as you do it. And becoming a better writer holds important benefits for the rest of your life—whether you are creating a book, a presentation, a résumé, or an anniversary card for your spouse.</li>

            <li><strong>You’ll become a better thinker.</strong> Because the process of writing includes recording thoughts on paper, the blogging process encourages you to stop and think deeper. You will delve deeper into the matters of your life and the worldview that shapes them. Unfortunately, at this point, many will choose not to blog (or write at all) based on the faulty reasoning that they “have nothing to say.” But to that line of thinking I always respond the same way, maybe you just haven’t discovered yet what you have to say.</li>

            <li><strong>You’ll live a more intentional life.</strong> Once you start writing about your life and the thoughts that shape it, you’ll begin thinking more intentionally about who you are, who you are becoming, and whether you like what you see or not. And that just may be reason enough to get started.</li>

            <li><strong>You’ll develop an eye for meaningful things.</strong> By necessity, blogging requires a filter. It’s simply not possible to write about every event, every thought, and every happening in your life. Instead, blogging is a never-ending process of choosing to articulate the most meaningful events and the most important thoughts. This process of choice helps you develop an eye for meaningful things. And remember that sometimes the most meaningful things appear in the most mundane—but you’ll see what I mean once you get started.</li>

            <li><strong> It’ll lead to healthier life habits.</strong> Blogging requires time, devotion, commitment, and discipline. And just to be clear, those are all good things to embrace – they will help you get the most out of your days and life. Since beginning to blog, I have become an early riser, a runner, and can now properly identify my favorite drink at Starbuck’s (Caramel Macchiato). And even if those three habits don’t personally appeal to you, blogging will provide opportunity for new life habits to emerge in yours.</li>

            <li><strong>You’ll meet new people.</strong> Whether it be through comments, e-mails, or social media, you may be surprised at how quickly you meet people on-line. And by meet people, I mean legitimately form relationships that seek to serve one another. The blogging community is friendly, encouraging, and genuinely cheering for you to succeed—the only thing missing is you.</li>

            <li><strong>You’ll inspire others.</strong> Blogging not only changes your life, it also changes the life of the reader. And because blogs are free for the audience and open to the public, on many levels, it is an act of giving. It is a selfless act of service to invest your time, energy, and worldview into a piece of writing and then offer it free to anybody who wants to read it. Others will find inspiration in your writing… and that’s a wonderful feeling.</li>

            <li><strong>You’ll become more well-rounded in your mindset.</strong> After all, blogging is an exercise in give-and-take. One of the greatest differences between blogging and traditional publishing is the opportunity for readers to offer input. As the blog’s writer, you introduce a topic that you feel is significant and meaningful. You take time to lay out a subject in the minds of your readers and offer your thoughts on the topic. Then, the readers get to respond. And often times, their responses in the comment section challenge us to take a new, fresh look at the very topic we thought was so important in the first place.</li>

            <li><strong>You’ll become more comfortable being known.</strong> Blogging introduces yourself to the world. It causes you to articulate the life you live and the worldview behind the decisions that you make. Whether you have 1 reader or 10,000, the blogging process opens up your life to those on the outside. It is a good exercise in human-existence to be known by others. Over time, you’ll reveal more and more of yourself to the outside world… and you’ll be excited to find a world that relates to you and enjoys hearing your story.</li>

            <li><strong>You’ll become more confident.</strong> Blogging will help you discover more confidence in your life. You will quickly realize that you do live an important life with a unique view and have something to offer others.</li>
        </ol>
        <p>Remember, you don’t need to blog as a means to get rich or as a means to gather a huge following. You don’t even need to blog as a means to change the Internet… the change that a blog will cause in your life is reason enough.</p>
	</div>
</article>
