{{!< default}}

<div class="cover">
    <!-- .contact -->
    <div id="contact" class="content_2">
        <h1>Contact Me</h1>
        <div class="row">
            <div class="col-lg-12">
                <div class="row" id="contact-user">
                    <div class="col-md-12">
                        <div class="contact-form">
                            <div id="contact-status"></div>
                            <form action="" id="contactform">
                                <p class="form-group" id="contact-name">
                                    <label for="name" class="pull-left">Your Name</label>
                                    <input type="text" name="name" class="form-control" placeholder="Name..." />
                                </p>
                                <p class="form-group" id="contact-email">
                                    <label for="email" class="pull-left">Your Email</label>
                                    <input type="text" name="email" class="form-control" placeholder="Email..." />
                                </p>
                                <p class="form-group" id="contact-message">
                                    <label for="message" class="pull-left">Your Message</label>
                                    <textarea name="message" cols="88" rows="6" class="form-control" placeholder="Message..." style="border-radius: 2px"></textarea>
                                </p>
                                <button class="btn btn-default pull-right" name="submit">SEND MESSAGE</button>
                                <input type="reset" name="reset" value="CLEAR" class="reset btn pull-right" style="margin-right: 10px">
                            </form>
                        </div>
                        <!-- /Contact Form -->
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End .contact -->
</div>
